<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="booking">
	<select id="getList" resultType="bookingDto">
		SELECT num, shopnum, id, dday, price, seatnum, location
		FROM booking
		ORDER by num ASC
	</select>
 	<select id="getData" parameterType="int" resultType="bookingDto">
 		SELECT num, shopnum, id, dday, price, seatnum, location
 		FROM booking
 		WHERE num=#{num}
 	</select>
 	  <!-- 정보를 추가 -->
   <insert id="insert" parameterType="bookingDto">
   		INSERT INTO booking
   		(num,shopnum,id,dday,price,seatnum,location)
   		VALUES(booking_seq.NEXTVAL,#{shopnum},#{id},sysdate,#{price},#{seatnum},#{location})
   </insert>
   <!-- 정보를 삭제 -->
   <delete id="delete" parameterType="int">
   		DELETE FROM booking
   		WHERE num=#{num}
   </delete>
</mapper>

