<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
	<sql id="searchCondition">
		<choose>
			<when test="title != null and content !=null">
				WHERE title LIKE '%'||#{title}||'%' 
				OR content LIKE '%'||#{content}||'%'
			</when>
			<when test="title != null">
				WHERE title LIKE '%'||#{title}||'%'
			</when>
			<when test="writer != null">
				WHERE writer LIKE '%'||#{writer}||'%'
			</when>
		</choose>
	</sql>
	
	<select id="getList" parameterType="reviewDto" resultType="reviewDto" >
		select *
		from
			(select result1.*, ROWNUM as rnum
			from
				(select num,writer,title,content,viewCount,regdate
				from board_review
				<include refid="searchCondition"/>
				order by num desc) result1)
		<![CDATA[
		where rnum >= #{startRowNum} and rnum <= #{endRowNum}
		]]>
	</select>		
		
	<select id="getCount" parameterType="reviewDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board_review
		<include refid="searchCondition"/>
	</select>
	
	<insert id="insert" parameterType="reviewDto">
		insert into board_review
		(num,writer,title,content,viewCount,regdate)
		values(board_review_seq.nextval, #{writer}, #{title},
			#{content}, #{viewCount}, sysdate)
	</insert>
	
	<select id="getData" parameterType="int" resultType="reviewDto"> 
		select result1.*
		from
			(select num,writer,title,content,viewCount,likeCount,
				to_char(regdate,'YY.MM.DD HH24:MI') as regdate,
				lag(num,1,0) over (order by num desc) as prevNum,
				lead(num,1,0) over (order by num desc) as nextNum
			from board_review) result1
		where num=#{num}	
	</select>
	
	<select id="getData2" parameterType="reviewDto" resultType="reviewDto">
		select result1.*
		from
			(select num,writer,title,content,viewCount, likeCount,
				to_char(regdate,'YY.MM.DD HH24:MI')as regdate,
				lag(num,1,0) over (order by num desc) as prevNum,
				lead(num,1,0) over (order by num desc) as nextNum
			from board_review
			<include refid="searchCondition"/>
			) result1
		where num=#{num}
	</select>
	
	<update id="addViewCount" parameterType="int">
		update board_review
		set viewCount=viewCount+1
		where num=#{num}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from board_review
		where num=#{num}
	</delete>
	
	<update id="update" parameterType="reviewDto">	
		update board_review
		set title=#{title}, content=#{content}
		where num=#{num}
	</update>
	<update id="likeCount" parameterType="int">
		update board_review
		set likeCount = likeCount+1
		where num=#{num}
	</update>

</mapper>






