<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop">
	<select id="getList" resultType="shopDto">
		SELECT num,cateNum,name,image,price,cast,hours,location,TO_CHAR(startdate,'YY.MM.DD') AS startdate,
				TO_CHAR(enddate,'YY.MM.DD') AS enddate,remainCount,tel,seatNum
		FROM shop
		ORDER BY num ASC
	</select>
	<update id="minusCount" parameterType="int">
		UPDATE shop
		SET remainCount=remainCount-1
		WHERE num=#{num}
	</update>
	<update id="plusCount" parameterType="int">
		UPDATE shop
		SET remainCount=remainCount+1
		WHERE num=#{shopnum}
	</update>

	<select id="getPrice" parameterType="int" resultType="int">
		SELECT price
		FROM shop
		WHERE num=#{num}
	</select>
	<select id="getSeatNum" parameterType="int" resultType="int">
		SELECT seatnum
		from shop
		where num=#{num}
	</select>
	<select id="getLocation" parameterType="int" resultType="string">
		SELECT location
		FROM shop
		where num=#{num}
	</select>
	<select id="getData" parameterType="int" resultType="ShopDto">
		SELECT *
		FROM
			(SELECT num,writer,cateNum,name,price,image,cast,hours,location,TO_CHAR(startdate,'YYYY-MM-DD') as startdate,TO_CHAR(enddate,'YYYY-MM-DD') as enddate,remainCount,tel,seatNum,
				LAG(num, 1, 0) OVER (ORDER BY num DESC) AS prevNum,
				LEAD(num, 1, 0) OVER (ORDER BY num DESC) AS nextNum
			FROM shop
			ORDER BY num DESC)
		WHERE num = #{num}
	</select>
	<insert id="insert" parameterType="shopDto">
		insert into shop
		(num,writer,cateNum,name,price,image,cast,hours,location, startdate, enddate,remainCount,tel,seatNum)
		values(shop_seq.nextval, #{writer},#{cateNum} ,#{name},
			#{price}, #{image}, #{cast}, #{hours}, #{location},#{startdate},#{enddate},#{remainCount},#{tel},#{seatNum})
	</insert>
	<delete id="delete" parameterType="int">
		delete from shop
		where num=#{num}
	</delete>
	<update id="update" parameterType="shopDto">
		update shop
		set name=#{name}, cateNum=#{cateNum} ,price=#{price}, image=#{image}, cast=#{cast},
			hours=#{hours}, location=#{location}
		where num=#{num}
	</update>

</mapper>












